/* font-family: 'Press Start 2P', cursive;
font-family: 'Bangers', cursive;
font-family: 'VT323', monospace; */

body{
    background-image: url("https://i.ytimg.com/vi/Dh9W9JAUWBA/maxresdefault.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
#name, #tagline{
    text-align: right;
    font-size: 40px;
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 1px 1px 2px black, 0 0 1em green, 0 0 0.2em green;
}
nav{
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
    background-color: rgba(47, 26, 161, 0.644);
    float: right; /*puts NAV elements on the right*/
    border: 2px solid white;
}
#guide{
    float: left; /*guide text from left to right*/
    display: block;
    text-align: center;
    padding: 18px 16px;
    border-left: 3px solid whitesmoke;
}
#guide:hover{
    background-color: rgba(139, 0, 0, 0.603);
    cursor: wait;
}
#guide a{
    color: white !important;
    text-shadow: 1px 1px 2px white, 2px 2px 1em blue, 0 0 0.4em blue;
}
img{
    display: block;
    margin-left: 80%;
    margin-top: 6%;
    margin-bottom: -15%;
}
.sectionTitle, #special{
    font-size: 35px !important;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 3px 3px 3px whitesmoke;
}
.sectionTitle2{
    font-family: 'Press Start 2P', cursive;
    margin: 10px;
    font-size: 40px;
    text-decoration: underline;
}
/* CSS for original */
/* .pizza{
    color: rgb(211, 101, 11);
    float: left;
    width: 50%;
    text-shadow: 3px 3px 3px black;
    font-family: 'Press Start 2P', cursive;
}
.pizzaName{
    text-align: left;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 0%;
}
.pizzaNamelast{
    font-family: 'Press Start 2P', cursive;
    color: rgb(211, 101, 11);
    text-shadow: 3px 3px 3px black;
    text-align: left;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 0%;
}
.description{
    color: rgb(211, 101, 11);
    text-shadow: 3px 3px 3px black;
    text-align: left;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    margin: 20px;
}
.price{
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    font-family: 'VT323', monospace;
    margin: 10px;
    text-shadow: 3px 3px 3px black;
}
.pricelast{
    color: rgb(211, 101, 11);
    font-size: 35px;
    font-weight: bold;
    font-family: 'VT323', monospace;
    margin: 10px;
    text-shadow: 3px 3px 3px black;
} */
#subVis{
    background-image: url("https://res.cloudinary.com/lmn/image/upload/c_limit,h_360,w_640/e_sharpen:100/f_auto,fl_lossy,q_auto/v1/gameskinnyc/s/p/i/spiderman-1ec00.jpg");
    background-repeat: no-repeat;
    background-size: fill;
    font-family: 'Bangers', cursive;
    font-size: 20px !important;
    color: whitesmoke;
    text-shadow: 2px 1px 1px black;
}
.hours{
    display: inline;

}
.credit{
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* drop box css below */
#pizzapop{
    color: rgb(211, 101, 11);
    text-shadow: 3px 3px 3px black;
    text-align: left;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    margin: 20px;
}
span.dropt{
    background: transparent;
}
span.dropt:hover{
    text-decoration: none;
    background: #333;
    z-index: 6;
}
span.dropt span{
    position: absolute;
    left: -9999px;
    margin: 20px 0 0 0px;
    padding: 3px 3px 3px 3px;
    border-style:solid;
    border-width:1px;
    z-index: 2;
}
span.dropt:hover span{
    left: 45%;
    bottom: -15%;
    background: #ffffff;
} 
span.dropt span{
    left: -9999px;
    margin: 4px 0 0 0px;
    padding: 10px; 
    border-style:solid;
    border-color:#333;
    border-width:5px;
    font-size: 20px;
}
span.dropt:hover span {margin: 20px 0 0 100px; background: #333; z-index:6;} 